@charset "UTF-8";


.input_size_20{
			width:20px;
			height:20px;
		}
		.all_check_input{
			margin: 18px 0 18px 18px;
		}
		.all_check_span{
			padding-left: 8px;
	    	font-size: 20px;
	    	font-weight: bold;		
		}
