@charset "UTF-8";

:root {
    --font-family: "AktivGrotesk"
    				,'Spoqa Han Sans Neo'
    				,'Malgun Gothic'
    				,'Apple SD Gothic Neo'
    				,'돋움'
    				, dotum,sans-serif;
    --font-size: 12px;
    --color: #000;
    --sub-color: #ccc;
    --disable-color: #a8a8a8;
    --color-hover: #000;
    --background-color: #fff;
    --border-color: #000;
    --border-color-hover: #000;
    --border-width: 1px;
    --border-set: 1px solid #000;
    --border-radius: 0;
    --sub-border-color: #B1B1B1;
    --sub-border-color-hover: #B1B1B1;
    --plceholder-color: #ccc;
    --input-color: #000;
    --input-color-hover: #000;
    --input-border-color: #000;
    --input-border-color-hover: #000;
    --select-color: #000;
    --select-color-hover: #000;
    --select-border-color: #000;
    --select-border-color-hover: #000;
    --not-select-color: #b4b4b4;
    --btn-color: #000;
    --btn-background-color: #fff;
    --btn-border-color: #000;
    --btn-color-hover: #000;
    --btn-background-color-hover: #eaeaea;
    --btn-border-color-hover: #000;
    --s-btn-color: #fff;
    --s-btn-background-color: #000;
    --s-btn-border-color: #000;
    --s-btn-color-hover: #fff;
    --s-btn-background-color-hover: #3e3e3e;
    --s-btn-border-color-hover: #000;
    --btn-height: 43px;
    --input-height: 43px;
    --select-height: 43px;
    --layout-row-gap: 45px;
    --btn-height: 43px;
    --header-h: 136px;
    --footer-h: 355px;
    --btn-transition: background-color 0.3s cubic-bezier(0.42,0,0.58,1)
    					, border-color 0.3s cubic-bezier(0.42,0,0.58,1)
    					, color 0.3s cubic-bezier(0.42,0,0.58,1);
}

@media only screen and (max-width: 1680px) {
	:root {
	    --layout-row-gap: 20px;
	}
}

* {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
/* 




*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p
, blockquote, pre, abbr, address, cite, code, del, dfn, em
, img, ins, kbd, q, samp, small, strong, sub, sup, var
, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label
, legend, table, caption, tbody, tfoot, thead, tr, th, td
, article, aside, canvas, details, figcaption, figure
, footer, header, hgroup, menu, nav, section, summary
, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body, html body.eMobilePopup {
    line-height: 1;
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--color);
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html {
    width: 100%;
    height: 100%;
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    display: block;
    min-height: 100%;
    position: relative;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

table, table tbody, table tr {
    border: 0 solid transparent;
}

caption, legend {
    display: none !important;
}

a {
    color: var(--color);
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    line-height: 1.5;
    color: var(--color);
    word-break: keep-all;
}

h2 {
    font-size: 1rem;
}

h3 {
	font-size : 13px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--color);
    line-height: 1.2;
    font-weight: bold;
}

img {
    max-width: 100%;
    border: 0;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

.layout-contents input, .layout-contents select, textarea, .agree, .btn, .s-btn {
    letter-spacing: 0;
    font-family: inherit;
    font-size: inherit;
    font-weight: normal;
    color: var(--color);
    background-color: transparent;
    border: var(--border-width) solid var(--border-color);
    vertical-align: middle;
    line-height: 1.42857;
    border-radius: 0;
    outline: 0;
    /* -webkit-appearance: none;	radio 사용 시 이 두 가지 해제, appearance 란 '모습'인데 none 으로 기본 모습조차 초기화시킴
    appearance: none; */
    /* -webkit-transition: border 300ms ease;
    -moz-transition: border 300ms ease;
    -ms-transition: border 300ms ease;
    -o-transition: border 300ms ease;
    transition: border 300ms ease; */
}

.layout-contents input {
    padding: 13px 10px;
    height: var(--input-height);
    border: var(--border-width) solid var(--input-border-color);
    border-radius: var(--border-radius);
}

.btn, .s-btn {
    position: relative;
    width: 150px;
    height: auto;
    padding: 16.5px 5px;
    font-size: var(--font-size);
    color: var(--btn-color);
    background: var(--btn-background-color);
    border: var(--border-width) solid var(--btn-border-color);
    border-radius: 0;
    font-weight: normal;
    cursor: pointer;
    text-align: center;
    white-space: nowrap;
    line-height: 10px;
    z-index: 0;
    display: inline-block;
    transition: var(--btn-transition);
}

.btn:hover {
    background-color: var(--btn-background-color-hover);
    border-color: var(--border-color-hover);
}

.btn.s-btn {
    color: var(--s-btn-color) !important;
    background: var(--s-btn-background-color);
}

.btn.s-btn:hover {
    background: var(--s-btn-background-color-hover);
}

.txtDel, .strike, .discount {
    text-decoration: line-through;
    font-weight: normal;
}
/* 




*/
[class^="ti-"], [class*=" ti-"], .option-select:after {
    font-family: 'themify';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/* 




*/
::selection {
    background-color: var(--s-btn-background-color);
    color: var(--s-btn-color);
}