@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
       .rate { display: inline-block;border: 0;margin-right: 15px;}
.rate > input {display: none;}
.rate > label {float: right;color: #ddd}
.rate > label:before {display: inline-block;font-size: 1.5rem;padding: .3rem .2rem;margin: 0;margin-right:16px;cursor: pointer;font-family: FontAwesome;content: "\f005 ";}
.rate .half:before {content: "\f089 "; position: absolute;padding-right: 0;}
.rate input:checked ~ label, 
.rate label:hover,.rate label:hover ~ label { color: #f73c32 !important;  } 
.rate input:checked + .rate label:hover,
.rate input input:checked ~ label:hover,
.rate input:checked ~ .rate label:hover ~ label,  
.rate label:hover ~ input:checked ~ label { color: #f73c32 !important;  } 


	
	
	table, th, tr, td, input, textarea, button, div{
	padding: 0;
	margin: 0;
	border:0;
	outline:0;

    font-family: "AktivGrotesk",'Spoqa Han Sans Neo','Malgun Gothic','Apple SD Gothic Neo','돋움', dotum , sans-serif;
 	font-size: 11px;
		}
	
	td {
	padding : 10px 0px;
	width:100%;
    max-width: 500px;
    min-width: 400px;
    table-cell:middle;
	}
	
	input, textarea {
	font-size: 11px;
	padding : 13px 10px;
    background-color: #fff;
    color: #000;
    border : solid 1px #000;
    width:100%;
    }
    

	#submit-button {
	padding : 16.5px 10px;
	background-color: #000;
	color : #FFF;
	cursor: pointer;
	width:100%;
	}
	
	.image-drag-and-drop-label {
	min-height:50px;
	}
		
	.image-drag-and-drop-label:hover {
    cursor: pointer;
	}

    .image-preview {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    }
    .image-preview img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    position:relative;
    }
    .delete-button {
    position:absolute;
    margin-top : 0px;
    margin-left : -47px;
    width : 37px;
    background: #000;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    display: inline-block;
    }

    
     #drop-zone{
     border: 1px solid #000; 
     padding: 13px 10px;
         }
         
     #drop-zone input[type=file]{
     display: none; 
     }
     
     .display_none{
display:none;
}

.btn-transparent{
  border: solid black 1px; 
  border-radius:0; 
  padding;10px;
  width:100%; 
  margin:30px 0px;
  background-color: transparent;
  font-size: 12px;
}
.btn-transparent:hover{
  background-color: #f2f2f2
  border: solid black 1px; 
}
     